.Train-info-table {
    border-collapse: collapse;
    border: 1px blue solid;
    width: 500px;
    margin-left: 20px;
  }

  .Train-info-table th, td {
    border-collapse: collapse;
    border: 1px blue solid;
  }